# Environment files containing credentials (anywhere in the project)
**/.env
**/.env.*
!**/.env.example

# Node modules and dependencies
**/node_modules/

# Voice Command API
/voice-command-api/logs/
/voice-command-api/.DS_Store
/voice-command-api/coverage/

# Voice Command UI
/voice-command-ui/dist/
/voice-command-ui/.DS_Store
/voice-command-ui/build/
/voice-command-ui/coverage/

# General files
/node_modules/
/public/
/.vscode/
/sample.mp3
**/.DS_Store
**/*.log
